.DS_store

## User settings
Cardiac.xcodeproj/project.xcworkspace/
Cardiac.xcodeproj/xcuserdata/
Cardiac.xcodeproj/xcshareddata/
## previews
Cardiac/Preview\ Content/
Cardiac/iconGen_ColourViewer*/
## app icons
iconGen*/
